*.php linguist-detectable=true
*.blade.php linguist-detectable=true

*.css linguist-detectable=false
*.scss linguist-detectable=false
*.js linguist-detectable=false

node_modules/* linguist-detectable=false
public/js/* linguist-detectable=false
public/css/* linguist-detectable=false
