
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.php linguist-detectable=true
*.blade.php linguist-detectable=true

*.css linguist-detectable=false
*.scss linguist-detectable=false
