# Laravel standard
/vendor
/node_modules
.env
.phpunit.result.cache

# Laravel storage (biar tidak kebawa file besar/log/debug)
/storage/*.key
/storage/app/public/*
/storage/debugbar/*
/storage/logs/*

# Laravel public storage (symlink)
/public/storage

# IDE / Editor folders
/.idea
/.vscode
